name: CI Pipeline
 
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
 
jobs:
  docker-security-scan:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout
        uses: actions/checkout@v3
 
      - name: Build Docker Image
        run: docker build -t fastapi-app .

      - name: Trivy FS Scan
        uses: aquasecurity/trivy-action@0.21.0
        with:
          scan-type: fs
          scan-ref: .
          ignore-unfixed: true
          severity: HIGH,CRITICAL
          exit-code: 1
