name: CI Pipeline
 
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
 
jobs:
  docker-security-scan:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout
        uses: actions/checkout@v3
 
      - name: Build Docker Image
        run: docker build -t fastapi-app .
 
      - name: Trivy Scan Docker Image
        uses: aquasecurity/trivy-action@0.21.0
        with:
          image-ref: fastapi-app
          format: table
          ignore-unfixed: true
          vuln-type: 'os,library'
          exit-code: 1   # fail pipeline if vulnerabilities found
          severity: HIGH,CRITICAL
